<% if current_user.offices.count > 0 %>
  <div class="card">
    <div class="card-schedule">    
      <%= render 'calendar' %>    
    </div>
  </div>

  <div id='remote_container', clinics: @clinics></div>
<% end %>
