<%= content_for(:page){ "Agendamentos" } %>
<%= content_for(:top_actions) do %>
  <div class="navbar-item">  
    <%= select_tag 'office_id', options_for_select(@offices.collect{ |office| [office.name, office.id] }), class: "button is-primary", id: "selected_schedule" %>	
  </div>
<% end %>
<% if current_user.offices.count > 0 %>
  <div class="card">
    <div class="card-schedule">    
      <%= render 'calendar' %>    
    </div>
  </div>

  <div id='remote_container', clinics: @clinics></div>

  <script>	
    $("#selected_schedule").change(function(){ 
      
      $('.pageloader').addClass('is-active');	   
      setTimeout(function(){
        $('.pageloader').removeClass('is-active');
      }, 3000)

      let params = $(this).children(":selected").val();  	
      $.ajax({	
        url: `/change_office_schedule/${params}`     	
      }) 	
    });
  </script>
<% end %>
