<% if resource.errors.any? %>
  <div class="tale">
    <% resource.errors.full_messages.each do |message| %>
      <div class="notification is-danger"><%= message %></div>
    <% end %>
  </div>
<% end %>
