<div class="separator separator-dashed my-10"></div>
 <p class="bg-primary text-white  py-2 px-4">Estacionamento</p>
  <div class="form-group row">
    <div class="col-lg-3">
      <label>Utiliza Estacionamento</label>
      <div class="radio-inline">
        <label class="radio radio-solid">
          <input type="radio" name="parking" checked="checked" value="1">
          <span></span>
          Sim
        </label>
        <label class="radio radio-solid">
          <input type="radio" name="parking" value="2">
          <span></span>
          Não
        </label>
      </div>
    </div>
    <div class="col-lg-2">
      <label>Placa</label>
      <div class="input-group">
        <input class="form-control form-control-solid">
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fa fa-car"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <label>Valor</label>
      <div class="input-group">
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fa fa-dollar"></i>
          </span>
        </div>
        <input class="form-control form-control-solid">
      </div>
    </div>
    <div class="col-lg-5">
      <label>Observação</label>
      <input class="form-control form-control-solid">
    </div>
  </div>    