<div class="column">
  <div class="tabs is-toggle is-fullwidth">
    <ul>
      <li class="<%= 'is-active' if params[:tipo] == 'density' %>">
        <%= link_to payroll_category_path(tipo: :density), class: "loading", remote: true do %>
          <span>Faturamento Density</span>
        <% end %>
      </li>
      <li class="<%= 'is-active' if params[:tipo] != 'density' %>">
        <%= link_to payroll_category_path(tipo: :pronto), class: "loading", remote: true do %>
          <span>Faturamento Pronto Consultórios</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>