<div class="modal" id="edit_reservation">
  <div class="modal-background data-action"></div>
  <div class="modal-card">
    <section class="modal-card-body">
    <%= render 'form', reservation: @reservation %>
    </section>
  </div>
</div>
