<div class="modal" data-controller="modal" id="edit_reservation_without_contract">
  <div class="modal-background data-action"></div>
  <div class="modal-card">
    <section class="modal-card-body">
      <%= render 'form', reservation: @reservation_without_contract %>
    </section>
  </div>
</div>
