<div class="tabs is-toggle is-fullwidth">
  <ul>
    <li class="is-active">
      <a><span>Todas Especialidades</span></a>
    </li>
    <li><a><span>Urologista</span></a></li>
    <li><a><span>Cardiologista</span></a></li>
    <li><a><span>Ginecologista</span></a></li>
    <li><a><span>Psiquiatra</span></a></li>
  </ul>
</div>