<div class="card card-custom">
  <div class="card-header">
    <h3 class="card-title">Filtrar Médicos</h3>
  </div>
  <div class="card-body">
    <div class="form-group row">
      <div class="col-lg-3">
        <label>Contrato</label>
        <select class="form-control" name="unit">
        </select>
      </div>
      <div class="col-lg-3">
        <label>Nome</label>
        <input type="text" class="form-control" >
      </div>
      <div class="col-lg-3">
        <label>Especiaidade</label>
        <select class="form-control" name="unit">
        </select>
      </div>
      <div class="col-lg-3">
        <label>Status</label>
        <div class="radio-inline">
          <label class="radio radio-solid">
            <input type="radio" name="example_1" checked="checked" value="1">
            <span></span>
            Ativo
          </label>
          <label class="radio radio-solid">
            <input type="radio" name="example_2" value="2">
            <span></span>
            Bloqueado
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-10"></div>
      <div class="col-lg-2">
        <button type="submit" class="btn btn-primary font-weight-bold mr-2">Filtrar</button>
        <button type="reset" class="btn btn-light-primary font-weight-bold">Limpar</button>
      </div>
    </div>
  </div>
</div>
<br />
<div class="card card-custom card-stretch gutter-b">
  <div class="card-header border-0 py-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label font-weight-bolder text-dark">
        Médicos
      </span>
      <span class="text-muted mt-3 font-weight-bold font-size-sm">
        <%= @clients.count %>% médicos na base
      </span>
    </h3>
    <div class="card-toolbar">
      <a href="doctor-edit" class="btn btn-info font-weight-bolder font-size-sm mr-3">Novo Médico</a>
    </div>
  </div>
  <div class="card-body pt-0 pb-3">
    <%= render 'doctors' %>
  </div>
</div>