/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require app
 * require_tree ./components/
 * require_tree ./resources/
 *= require_self
 */


body {
  background: #f3f6f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #3f4254;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 13px!important;
  font-weight: 400;
  font-family: Poppins,Helvetica,sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d-flex {
	display: -webkit-box!important;
	display: -ms-flexbox!important;
	display: flex!important
}

.flex-row{
  -webkit-box-orient: horizontal!important;
  -webkit-box-direction: normal!important;
  -ms-flex-direction: row!important;
  flex-direction: row!important;
}

.flex-row-auto {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto
}

.flex-row-fluid {
	-webkit-box-flex: 1;
	flex: 1 auto;
	-ms-flex: 1 0 0px;
	min-width: 0
}

.flex-column {
	-webkit-box-orient: vertical!important;
	-webkit-box-direction: normal!important;
	-ms-flex-direction: column!important;
	flex-direction: column!important
}

.flex-column-fluid {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto
}

.flex-wrap {
	-ms-flex-wrap: wrap!important;
	flex-wrap: wrap!important
}

.flex-sm-nowrap {
  -ms-flex-wrap: nowrap!important;
  flex-wrap: nowrap!important
}

.align-items-center {
	-webkit-box-align: center!important;
	-ms-flex-align: center!important;
	align-items: center!important
}

.align-items-baseline {
	-webkit-box-align: baseline!important;
	-ms-flex-align: baseline!important;
	align-items: baseline!important
}

.text-dark {
	color: #181c32!important
}


.tab-content>.tab-pane {
	display: none
}

.tab-content>.active {
	display: block
}

.justify-content-between {
	-webkit-box-pack: justify!important;
	-ms-flex-pack: justify!important;
	justify-content: space-between!important
}

.backgroud-modal{
	background: #1bc5bd;
}
.toast-top-right{
	width: 420px!important;
	margin-top: 10px !important;
}

.is-hidden {
  display: none !important;
}

.w-code{
  min-width: 60px;
  max-width: 62px;
}

.w-default{
  min-width: 140px !important;
  max-width: 142px !important;  
}

.w-children{  
  min-width: 180px;
  max-width: 182px;
  text-align: left;
}
