<div class="navbar-item offices">
  <div class="dropdown is-hoverable">
    <div class="dropdown-trigger">
      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
        <span>Maestro Cardim</span>
        <span class="icon is-small">
          <i class="material-icons" aria-hidden="true">keyboard_arrow_down</i>
        </span>
      </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
      <div class="dropdown-content">
        <a href="#" class="dropdown-item">
          Pamplona
        </a>
        <a class="dropdown-item">
          Pinheiros
        </a>
        <a href="#" class="dropdown-item">
          Veiga Filho
        </a>
      </div>
    </div>
  </div>
</div>